.container {
    max-width: 800px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
}
