---
import Layout from "@/layouts/Layout.astro"
import CategoryForm from "@/components/CategoryForm.astro"
import { useDbClient, makeError } from "@/utils/server.js"

const db = useDbClient()

const { id } = Astro.params

const category = { name: null }
let error = null

if (Astro.request.method === "POST") {
    const data = await Astro.request.formData()
    const name = data.get("name")
    if (!name || !name.length) {
        Astro.response.status = 422
        error = `name cannot be empty!`
    }

    if (!error) {
        await db.query(
            `update category
             set modified = now(),
                 name = $1
             where id = $2`,
            [name, id])

        return Astro.redirect("/categories/" + id)
    }
}

const { rows } = await db.query(
    `select id, name
     from category
     where id = $1`, [id])

if (!rows.length)
    return makeError(404, "Not found")

Object.assign(category, rows[0])
---

<Layout>
    <div class="container">
        <h1>Edit category</h1>

        <CategoryForm newCategory={false} category={category} error={error}/>
    </div>
</Layout>

<style>
    .container {
        max-width: 800px;
        margin: auto;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
