html, body {
    height: 100%;
}

body {
    font-family: system-ui;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: cornflowerblue;
    padding: 0.5em 1.5em;
    color: white;
}

.site-header .title {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
}

.site-header a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.site-header a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    gap: 2em;
}

main {
    flex-grow: 1;
    width: calc(100% - 3em);
    padding: 0 1.5em 2em;
}

.error {
    font-weight: bold;
    color: red;
}

button, a.button {
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
    background-color: cornflowerblue;
    color: white;
    padding: 0.3em 0.6em;
    text-decoration: none;
    border-radius: 0.5em;
    outline: none;
    border: none;
    cursor: pointer;
}

button:hover, a.button:hover {
    background-color: #84b6ef;
}
